.selector-for-some-widget {
    box-sizing: content-box;
}
.headerLink {
    text-align: center;
}
.header {
    margin-top:2px;
    margin-bottom:5px;
}

.footer-menu{
    color: #ffffff;
    padding-top: 25px;
}
footer{
    background-color: #00002B !important;
    padding-bottom: 2px;
    font-family: 'Raleway', sans-serif;
}
.footer-picture{
    color: #ffffff;
    padding-top: 25px;
    text-align: center;
}

.footer-text{
    margin-bottom: 0px !important;
    margin-top: 1px !important;
}
.image-footer{
    text-align: center;
    alignment: center;
}


.logo{
    font-family: "Rock Salt", sans-serif !important;
    font-size:22px;
    font-weight: bold;

}
.menu{
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px;
    padding-top: 5px;
}
.selectedMenu{
    pointer-events: none;
    cursor: default;
    font-weight:bold;
}

.sideBorder {
    border-right: 1px solid;
    border-left: 1px solid;
}
body {
    padding-top: 2px;
}

.align {
    padding-left:0px !important;
    padding-right:0px !important;
}
*{
    box-sizing: border-box !important;
}

.text {
    color: black ;
}

.img-fluid{
    z-index: -1000;
}
.background{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -100;
    background-size: cover;
    background-position: top;
}
.text-uppercase{
    font-family: "Rock Salt", sans-serif !important;
    padding-top: 100px;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: #fff;
}

.no-gutters{
    margin-left: 0px;
    margin-right: 0px;

}

.floating-container-main{
    position: relative;
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 24px 0 rgba(0,0,0,.3);
    padding: 20px;
    margin: 10px;
    margin-top: 100px !important;
}

.floating-container{
    position: relative;
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 24px 0 rgba(0,0,0,.3);
    margin-top: 150px !important;

}



h3{
    font-family: 'Raleway', sans-serif !important;
    color: #000 !important;
    font-size: 50px !important;
}


.card{
    margin-left: 48px;
    margin-top: 48px;
    margin-right: 48px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer{
    background-color: #005cbf;
    height: 100px;
}
table{
    margin :50px !important;
    position: relative;
    align: center !important;

}
tr{
    margin: 20px !important;
}
.button-red{
    border-radius: 0 !important;
    background-color:#FDEDEC;
    border-color: #990000;
    color: #990000;
    font-weight: bold;
    width:100% !important;
    border-style:solid !important;
    border-width:3px !important;
}

.logIn{
    alignment: center;
    text-align: center;
}
.floating-container-user{
    position: relative;
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 24px 0 rgba(0,0,0,.3);
}

p.formulario{
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}