.selector-for-some-widget {
    box-sizing: content-box;
}
.headerLink {
    text-align: center;
}
.header {
    margin-top:2px;
    margin-bottom:5px;
}

.logo{
    font-family: "Rock Salt";
    font-size:22px;
    font-weight: bold;

}
.menu{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-top: 5px;
}
.selectedMenu{
    pointer-events: none;
    cursor: default;
    font-weight:bold;
}



.sideBorder {
    border-right: 1px solid;
    border-left: 1px solid;
}
body {
    padding-top: 2px;
}

.align {
    padding-left:0px !important;
    padding-right:0px !important;
}
*{
    box-sizing: border-box !important;
}

.text {
    color: black;
}

.img-fluid{
    z-index: -1000;
}
.background{
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -100;
    background-size: cover;
    background-position: top;
}
.text-uppercase{
    font-family: "Rock Salt";
    padding-top: 100px;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: #fff;
}

.no-gutters{
    margin-left: 0px;
    margin-right: 0px;

}
